<main class='p-4'>
  <div class='card p-3'>
    <div>
      <h1>Доброго ранку, любі студенти</h1>
      <p>На платформі для вас відкрито новий урок
        «Відображення шрифту» 🙌 Бажаємо успіхів в
        опрацюванні нового матеріалу!
      </p>
      <footer>Всім гарного дня</footer>
      <div class='In'>
        <div class='inline'>Block</div>
        <div class='inline'>Block</div>
        <div class='inline'>Block</div>
      </div>
    </div>

  </div>
</main>