<div class='page'>
  <div class='card_list'>
    <div class='cards'>
      This is a Test Card 1
    </div>

    <div class='cards'>
      This is a Test Card 2
    </div>

    <div class='cards'>
      This is a Test Card 3
    </div>

    <div class='card_descript'>
      Fabledom - это градостроительный симулятор, где сказки
      стали былью. Погрузитесь в сказочный мир в котором
      нужно построить процветающее королевство. Разработчики
      игры черпали вдохновение из таких проектов как: The
      Settlers, Foundation и Kingdoms and Castles. Главной
      выделяющей чертой игры станет механика любви.
    </div>
  </div>

</div>