/* <!-- Завдання №1. Змініть колір тексту на червоний та фон на жовтий, коли користувач наведе курсор миші на кнопку  --> */
div.lesson-four-task-one button:hover {
  color: red;
  background: yellow;
}

/* <!-- Завдання №2. Змініть фон заголовка на зелений, коли користувач наведе курсор миші на посилання: --> */
div.lesson-four-task-two a:hover ~ h1 {
  background: green;
}

/* <!-- Завдання №3. Змініть колір тексту відвіданого посилання на жовтий: --> */
#lesson-four-task-three a:visited {
  color: yellow;
}

/* <!--    Завдання №4. Змініть колір тексту посилання,
    яке знаходиться в блоку з ідентифікатором "sidebar", на червоний: --> */
#sidebar a {
  color: red;
}

/* <!--    Завдання №5. Змініть колір фону кнопки на синій, коли кнопка активна  --> */
div.lesson-four-task-five button:active {
  background: blue;
}

/* <!--    Завдання №6. Змініть колір тексту та фон кнопки, коли вона отримує фокус, на помаранчевий: --> */
div.lesson-four-task-six button:focus {
  background: orange;
  color: orange;
}

/*  <!--    Завдання №7. Змініть колір тексту та фон елемента,
  який вказаний в URL як фрагмент, на зелений, коли на нього встановлюється :target: --> */
div.lesson-four-task-seven #target:target {
  background: green;
  color: green;
}

/* <!--    Завдання №8. Змініть колір тексту на білий та фон елемента на синій при натискані відповідного чекбоксу: --> */
div.lesson-four-task-eight #checkbox:checked ~ #target {
  color: white;
  background: blue;
}

/* <!--    Завдання №9. Змінити колір тексту на синій для усіх елементів на сторінці, які написані українською мовою. --> */
div.lesson-four-task-nine :lang(uk) {
  color: blue;
}

/* <!--    Завдання №10. Змінити колір тексту на червоний та фон на жовтий елементів форми, які включені та доступні для введення.--> */
div.lesson-four-task-ten input:enabled {
  color: red;
  background: yellow;
}

/* <!--    Завдання №11. При використанні селектора :disabled змінити фоновий колір на жовтий в полях введення, які є неактивними.--> */
div.lesson-four-task-eleven input:disabled {
  background: yellow;
}

/*  <!--    Завдання №12. Встановіть жовтий фоновий колір для елементів <input>, що без атрибута readonly. --> */
div.lesson-four-task-twelve input:read-write {
  background: yellow;
}

/* <!--  Завдання №13. Встановіть жовтий фоновий колір для інпуту з атрибутом readonly. --> */
div.lesson-four-task-thirteen input:read-only {
  background: yellow;
}

/* <!--    Завдання №14. Зробіть поле вводу зеленим, коли введене значення коректне, і червоним - якщо ні. --> */
div.lesson-four-task-fourteen input:valid {
  background: green;
}
div.lesson-four-task-fourteen input:invalid {
  background: red;
}

/* <!--    Завдання №15. Застосувати селектор :optional до текстового поля форми,
  яке не є обов'язковим для заповнення, і змінити його фон на червоний,. --> */
div.lesson-four-task-fifteen textarea:optional {
  background: red;
}

/* <!--    Завдання №16. Є форма з полем вводу числа, яке може бути від 0 до 100.
  Задача змінити колір тексту поля вводу на червоний, якщо значення не входить до цього діапазону.--> */
div.lesson-four-task-sixteen input:out-of-range {
  color: red;
}

/* <!-- Завдання №17.    Є форма з полем вводу числа, яке може бути від 0 до 100.
  Задача змінити колір тексту на червоний, якщо значення входять до діапазону від 0 до 100. --> */
div.lesson-four-task-seventeen input:in-range {
  color: green;
}

/* <!--    Завдання №18.У цьому завданні потрібно зробити, щоб змінювався колір фону placeholder на червоний ,
  який зникає, коли користувач починає вводити. --> */
div.lesson-four-task-eighteen input:placeholder-shown {
  background: red;
}

/* <!--    Завдання №19. Застосуйте селектор :focus-within до блоку,

  який змінює колір тексту на білий та фоновий колір на жовтий при активному стані. --> */
div.lesson-four-task-nineteen .btn-group:focus-within {
  color: white;
  background: yellow;
}

/* <!--    Завдання №20. При валідації форми з помилкою, змінюйте колір фону на червоний. --> */
div.lesson-four-task-twenty input:invalid {
  background: red;
}
