.page {
  background: #ffffff;
  padding: 0 15px;
}

.page_content {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  padding: 24px;
}

.footer {
  padding: 24px 0;
}

.header_logo {
  font-size: 20px;
}

.header_nav {
}

.divider {
  height: 1px;
  background: #dee2e6;
}

.nav {
  display: block;
}

.nav_link {
  color: #343a40;
  font-size: 16px;
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
  color: blue;
}

.nav_vertical > .nav_link {
  display: block;
  color: #6c757d;
  font-size: 15px;
}

.nav_vertical > .nav_link:not(:last-child) {
  margin-bottom: 12px;
}

.nav_inLine > .nav_link:not(:last-child) {
  margin-right: 24px;
}

.header_nav_right {
  margin-left: auto;
  width: fit-content;
}

.page_block {
  margin-bottom: 80px;
}

.footer_copyright {
  font-size: 12.8px;
  color: #6c757d;
  display: block;
  margin-top: 12px;
}

.footer_title {
  font-size: 20px;
  color: #212529;
  margin-bottom: 12px;
  display: block;
}

.hero_title {
  font-size: 56px;
  color: #212529;
  margin-bottom: 12px;
  font-weight: 500;
  text-align: center;
}

.hero_text {
  font-size: 20px;
  color: #212529;
  text-align: center;
  max-width: 300;
  margin: 0 auto;
}

.card-header {
  font-size: 24px;
  color: #212529;
  text-align: center;
  padding: 12px;
}

.card-body {
  padding: 24px;
}

.card_block {
  text-align: center;
}

.card_block:not(:last-of-type) {
  margin-bottom: 24px;
}

.card_price_amount {
  font-size: 40px;
  color: #212529;
}

.card_price_duration {
  font-size: 29px;
  color: #6c757d;
}

.card_description_item {
  font-size: 16px;
  color: #212529;
  display: block;
  text-align: center;
}

.card_description_item:not(:last-of-type) {
  margin-bottom: 12px;
}

.card_button {
  display: block;
  width: 100%;
  font-size: 19px;
  padding: 9px;
}

.plans_card:not(:last-of-type) {
  margin-right: 24px;
}

.hero_text {
  background-image: url('/img/test2.jpg');
  background-attachment: scroll;
  overflow: auto;
  height: 100px;
  color: white;
}

.my_test {
  text-align: center;
  margin: 0 auto;
  display: flex;
  padding: 50px;
  color: black;

  height: 300px;
  border: 5px solid transparent;
  align-items: center;
  justify-content: center;

  /* background-image: url('/img/test2.jpg'); */
  border-image-source: url('/img/test2.jpg');
  border-image-width: 10%;
  border-image-slice: 10%;
  border-image-outset: 5px;
}

.card_block {
  list-style-type: disc;
  list-style-position: inside;

  padding: 0;
}

.card_description_item {
  display: list-item;
  text-align: left;
}

.table tr {
  border: 1px solid #343a40;
}

.table tr td {
  border: 1px solid #343a40;

  border-bottom-color: red;
  border-right-color: green;
}

.table {
  table-layout: auto;
  border-collapse: unset;
  border-spacing: 12px;
  caption-side: top;
}
