/* =========== */
body {
  font-family: 'Roboto', sans-serif;
}

.page {
  background: #ffffff;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.page_content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 80px;
}

.header {
  padding: 25px;
  border-bottom: 1px solid #dee2e6;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer {
  padding: 25px 0;
  border-top: 1px solid #dee2e6;

  display: flex;
  justify-content: space-between;
}

.header_logo {
  display: flex;
  align-items: center;
  font-size: 17px;
  color: white;
  background: #3d6be9;
  padding: 8px;
  border-radius: 30%;

  width: 24px;
  height: 24px;
}

.nav {
  display: flex;
}

.nav_inLine {
  gap: 24px;
}

.nav_vertical {
  gap: 12px;
  flex-direction: column;
}

.nav_link {
  color: #6c757d;
  font-size: 16px;
  text-decoration: none;
  line-height: 100%;
}

.nav_link:hover {
  text-decoration: underline;
  color: blue;
}

.page_block:not(:last-child) {
  margin-bottom: 80px;
}

.footer_copyright {
  font-size: 12.8px;
  color: #6c757d;
  display: block;
  margin-top: 12px;
}

.footer_title {
  font-size: 20px;
  color: #212529;
  margin-bottom: 12px;
  display: block;
}

/* ===================================== */

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.info {
  flex-grow: 20;
  flex-shrink: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;

  color: #212529;
}

.info_description {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  color: #212529;
}

.form {
  flex-grow: 10;
  flex-shrink: 5;

  display: flex;
  flex-direction: column;
  padding: 60px 48px;

  background: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

.form_item:not(:last-child) {
  margin-bottom: 20px;
}

.form_item_input:last-of-type {
  margin-bottom: 20px;
}

.form_item_input {
  display: inline-block;
  margin-bottom: 8px;

  background: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 16px 12px;
}

.form_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 10px;

  color: white;
  background: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 4px;
}

.divider {
  height: 1px;

  background: #212529;
  opacity: 0.25;
}

/* ========================= */

.updates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;

  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.updates_title {
  font-weight: 400;
  font-size: 24px;
  line-height: 19px;

  color: #212529;
}

.updates_list {
  display: flex;
  flex-direction: row;
}

.updates_image {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.updates_nickname {
  font-weight: 700;
  font-size: 12.8px;
  line-height: 16px;
  margin-bottom: 12px;

  color: #6c757d;
}

.updates_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  padding-bottom: 12px;
  border-bottom: 1px solid #dee2e6;

  color: #6c757d;
}

.updates_show_all {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #007bff;
}

/* ========================= */

.expirience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 28px;
  gap: 24px;

  background: #f8f9fa;
  border-radius: 4px;
  position: relative;
}

.expirience_badge {
  position: absolute;
  transform: rotate(30deg);
  top: -25;
  right: -45;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  background: #ff7347;
  border-radius: 70px;

  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
}

.expirience_list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.expirience_title {
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;

  color: #212529;
}

.expirience_list_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;

  background: #212529;
  border-radius: 12px;
}

.expirience_list_item .name {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  color: #ffffff;
}

.expirience_list_item .details {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #b1b1b1;
}
