{{#each articles}}
  <div class='card'>
    <img src='{{photo}}' alt='Image' class='card_img' />
    <h1 class='card_title'>{{name}}</h1>
    <p class='card_description'>{{description}}</p>
    <button class='card_button'>Read All</button>
  </div>
{{/each}}